---
http_interactions:
- request:
    method: get
    uri: https://api.hgbrasil.com/finance/stock_price?key=<HG_BRASIL_SECRET_KEY>&symbol=HGLG11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6ddcbc9a427942465d1e039411991d65"
    body:
      encoding: UTF-8
      string: '{"by":"symbol","valid_key":true,"results":{"HGLG11":{"kind":"fii","symbol":"HGLG11","name":"FII
        CSHG Log","company_name":"CSHG Logstica Fundo Investimento Imobiliario FII","document":"11.728.688/0001-47","description":"Financeiro
        e Outros/Fundos/Fundos Imobiliários","website":"https://www.cshg.com.br/","sector":"Imóveis
        Industriais e Logísticos","financials":{"equity":5306763276,"quota_count":33787575,"equity_per_share":157.063,"price_to_book_ratio":1.022,"dividends":{"yield_12m":8.476,"yield_12m_sum":13.6}},"region":"Brazil/Sao
        Paulo","currency":"BRL","market_time":{"open":"10:00","close":"17:30","timezone":-3},"logo":null,"market_cap":5416.82,"price":160.32,"change_percent":-0.08,"change_price":-0.13,"updated_at":"2024-07-08
        12:19:56"}},"execution_time":0.01,"from_cache":false}'
  recorded_at: Mon, 08 Jul 2024 15:54:27 GMT
recorded_with: VCR 6.2.0
