---
http_interactions:
- request:
    method: get
    uri: https://api.hgbrasil.com/finance/stock_price?key=<HG_BRASIL_SECRET_KEY>&symbol=BOVA11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"daf1847e689a45b9f45e23d3ce8c605b"
    body:
      encoding: UTF-8
      string: '{"by":"symbol","valid_key":true,"results":{"BOVA11":{"kind":"stock","symbol":"BOVA11","name":"iShares
        Ibovespa Fundo de Índice ETF","company_name":null,"document":null,"description":null,"website":null,"sector":null,"financials":{"quota_count":0,"dividends":{"yield_12m":null,"yield_12m_sum":null}},"region":"Brazil/Sao
        Paolo","currency":"BRL","market_time":{"open":"10:00","close":"17:30","timezone":-3},"market_cap":0.0,"price":122.18,"change_percent":-0.42,"change_price":-0.52,"updated_at":"2024-07-08
        12:09:58"}},"execution_time":0.0,"from_cache":true}'
  recorded_at: Mon, 08 Jul 2024 15:54:28 GMT
recorded_with: VCR 6.2.0
