---
http_interactions:
- request:
    method: get
    uri: https://api.hgbrasil.com/finance/stock_price?key=<HG_BRASIL_SECRET_KEY>&symbol=PETR4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4c4beb2d75faed4096eacc412cf048f7"
    body:
      encoding: UTF-8
      string: '{"by":"symbol","valid_key":true,"results":{"PETR4":{"kind":"stock","symbol":"PETR4","name":"Petrobras","company_name":"Petroleo
        Brasileiro S.A. Petrobras","document":"33.000.167/0001-01","description":"Pesquisa.
        Lavra. Refinação. Processamento. Comércio E Transporte de Petróleo. de Seus
        Derivados. de Gás Natural E de Outros Hidrocarbonetos Fluidos. Além Das Atividades
        Vinculadas à Energia.","website":"http://www.petrobras.com.br/","sector":"Petróleo.
        Gás e Biocombustíveis / Petróleo. Gás e Biocombustíveis / Exploração. Refino
        e Distribuição","financials":{"quota_count":5602042788,"dividends":{"yield_12m":3.47,"yield_12m_sum":1.302}},"region":"Brazil/Sao
        Paulo","currency":"BRL","market_time":{"open":"10:00","close":"17:30","timezone":-3},"logo":{"small":"https://assets.hgbrasil.com/finance/companies/small/petrobras.png","big":"https://assets.hgbrasil.com/finance/companies/big/petrobras.png"},"market_cap":94112.5,"price":37.48,"change_percent":-0.11,"change_price":-0.04,"updated_at":"2024-07-08
        12:09:58"}},"execution_time":0.0,"from_cache":true}'
  recorded_at: Mon, 08 Jul 2024 15:54:27 GMT
recorded_with: VCR 6.2.0
