---
http_interactions:
- request:
    method: get
    uri: https://api.hgbrasil.com/finance/stock_price?key=<HG_BRASIL_SECRET_KEY>&symbol=INVALID%2CINVALID2%2CINVALID3%2CINVALID4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"55eafa7cc1a435a71b329ff6afbf15c6"
    body:
      encoding: UTF-8
      string: '{"by":"symbol","valid_key":true,"results":{"INVALID":{"error":true,"message":"Error
        to get Stock for #INVALID: Erro 852 - Símbolo não encontrado, por favor entre
        em contato conosco em console.hgbrasil.com."},"INVALID2":{"error":true,"message":"Error
        to get Stock for #INVALID2: Erro 852 - Símbolo não encontrado, por favor entre
        em contato conosco em console.hgbrasil.com."},"INVALID3":{"error":true,"message":"Error
        to get Stock for #INVALID3: Erro 852 - Símbolo não encontrado, por favor entre
        em contato conosco em console.hgbrasil.com."},"INVALID4":{"error":true,"message":"Error
        to get Stock for #INVALID4: Erro 852 - Símbolo não encontrado, por favor entre
        em contato conosco em console.hgbrasil.com."}},"execution_time":0.01,"from_cache":true}'
  recorded_at: Wed, 08 May 2024 22:21:32 GMT
recorded_with: VCR 6.2.0
