---
http_interactions:
- request:
    method: get
    uri: https://brapi.dev/api/quote/PETR4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BR_API_SECRET_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      cdn-cache-control:
      - s-maxage=900, stale-while-revalidate
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"czw1gp1j2zjk"'
      x-matched-path:
      - "/api/quote/[slugs]"
      x-vercel-cache:
      - BYPASS
      x-vercel-id:
      - gru1::iad1::hbw8q-1718883628123-66e99086fdd0
    body:
      encoding: UTF-8
      string: '{"results":[{"currency":"BRL","shortName":"PETROBRAS   PN  EDJ N2","longName":"Petróleo
        Brasileiro S.A. - Petrobras","regularMarketChange":0.03,"regularMarketChangePercent":0.084,"regularMarketTime":"2024-06-19T20:08:10.000Z","regularMarketPrice":35.93,"regularMarketDayHigh":0,"regularMarketDayRange":"0
        - 0","regularMarketDayLow":0,"regularMarketVolume":0,"regularMarketPreviousClose":35.9,"regularMarketOpen":35.96,"fiftyTwoWeekRange":"0
        - 0","fiftyTwoWeekLow":0,"fiftyTwoWeekHigh":0,"symbol":"PETR4","priceEarnings":4.238177807660096,"earningsPerShare":8.4776858,"logourl":"https://s3-symbol-logo.tradingview.com/brasileiro-petrobras--big.svg"}],"requestedAt":"2024-06-20T11:40:28.471Z","took":"0ms"}'
  recorded_at: Thu, 20 Jun 2024 11:40:28 GMT
recorded_with: VCR 6.2.0
