---
http_interactions:
- request:
    method: get
    uri: https://brapi.dev/api/quote/HGLG11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BR_API_SECRET_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      cdn-cache-control:
      - s-maxage=900, stale-while-revalidate
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d1jpguo59eix"'
      x-matched-path:
      - "/api/quote/[slugs]"
      x-vercel-cache:
      - BYPASS
      x-vercel-id:
      - gru1::iad1::g6d6f-1718884550584-974a601ef330
    body:
      encoding: UTF-8
      string: '{"results":[{"currency":"BRL","shortName":"FII CSHG LOGCI","longName":"Cshg
        Logistica - Fundo De Investimento Imobiliario","regularMarketChange":-0.26,"regularMarketChangePercent":-0.164,"regularMarketTime":"2024-06-19T20:05:00.000Z","regularMarketPrice":158.3,"regularMarketDayHigh":0,"regularMarketDayRange":"0
        - 0","regularMarketDayLow":0,"regularMarketVolume":0,"regularMarketPreviousClose":158.56,"regularMarketOpen":160.19,"fiftyTwoWeekRange":"0
        - 0","fiftyTwoWeekLow":0,"fiftyTwoWeekHigh":0,"symbol":"HGLG11","priceEarnings":null,"earningsPerShare":null,"logourl":"https://s3-symbol-logo.tradingview.com/fii--big.svg"}],"requestedAt":"2024-06-20T11:55:51.000Z","took":"0ms"}'
  recorded_at: Thu, 20 Jun 2024 11:55:51 GMT
recorded_with: VCR 6.2.0
