---
http_interactions:
- request:
    method: get
    uri: https://brapi.dev/api/quote/IVVB11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BR_API_SECRET_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      cdn-cache-control:
      - s-maxage=900, stale-while-revalidate
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e694pe8ygskj"'
      x-matched-path:
      - "/api/quote/[slugs]"
      x-vercel-cache:
      - BYPASS
      x-vercel-id:
      - gru1::iad1::lsdm8-1719330535049-84128807b878
    body:
      encoding: UTF-8
      string: '{"results":[{"currency":"BRL","shortName":"ISHARE SP500CI","longName":"iShares
        S&P 500 Fundo de Investimento - Investimento No Exterior","regularMarketChange":3.79,"regularMarketChangePercent":1.159,"regularMarketTime":"2024-06-25T15:33:52.000Z","regularMarketPrice":330.79,"regularMarketDayHigh":331.15,"regularMarketDayRange":"328.57
        - 331.15","regularMarketDayLow":328.57,"regularMarketVolume":24754,"regularMarketPreviousClose":327,"regularMarketOpen":333.15,"fiftyTwoWeekRange":"328.57
        - 331.15","fiftyTwoWeekLow":328.57,"fiftyTwoWeekHigh":331.15,"symbol":"IVVB11","priceEarnings":null,"earningsPerShare":null,"logourl":"https://s3-symbol-logo.tradingview.com/ishares--big.svg"}],"requestedAt":"2024-06-25T15:48:55.301Z","took":"0ms"}'
  recorded_at: Tue, 25 Jun 2024 15:48:55 GMT
recorded_with: VCR 6.2.0
