---
http_interactions:
- request:
    method: get
    uri: https://brapi.dev/api/quote/HGLG11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BR_API_SECRET_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      cdn-cache-control:
      - s-maxage=900, stale-while-revalidate
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"lczum06if1kc"'
      x-matched-path:
      - "/api/quote/[slugs]"
      x-vercel-cache:
      - BYPASS
      x-vercel-id:
      - gru1::iad1::sqqfg-1719330218440-2b4777912552
    body:
      encoding: UTF-8
      string: '{"results":[{"currency":"BRL","shortName":"FII CSHG LOGCI","longName":"Cshg
        Logistica - Fundo De Investimento Imobiliario","regularMarketChange":1.02,"regularMarketChangePercent":0.6459999999999999,"regularMarketTime":"2024-06-25T15:28:35.000Z","regularMarketPrice":158.8,"regularMarketDayHigh":158.9,"regularMarketDayRange":"157.52
        - 158.9","regularMarketDayLow":157.52,"regularMarketVolume":21802,"regularMarketPreviousClose":157.78,"regularMarketOpen":158.85,"fiftyTwoWeekRange":"157.52
        - 158.9","fiftyTwoWeekLow":157.52,"fiftyTwoWeekHigh":158.9,"symbol":"HGLG11","priceEarnings":null,"earningsPerShare":null,"logourl":"https://s3-symbol-logo.tradingview.com/fii--big.svg"}],"requestedAt":"2024-06-25T15:43:38.775Z","took":"0ms"}'
  recorded_at: Tue, 25 Jun 2024 15:43:38 GMT
recorded_with: VCR 6.2.0
