---
http_interactions:
- request:
    method: get
    uri: https://brapi.dev/api/quote/HGLG11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BR_API_SECRET_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      cdn-cache-control:
      - s-maxage=900, stale-while-revalidate
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"13utjh5s8fek9"'
      x-matched-path:
      - "/api/quote/[slugs]"
      x-vercel-cache:
      - BYPASS
      x-vercel-id:
      - gru1::iad1::z2qn8-1720454538954-02dfcb98211b
    body:
      encoding: UTF-8
      string: '{"results":[{"currency":"BRL","shortName":"FII CSHG LOGCI  ER","longName":"Cshg
        Logistica - Fundo De Investimento Imobiliario","regularMarketChange":-0.08,"regularMarketChangePercent":-0.05,"regularMarketTime":"2024-07-08T15:45:01.000Z","regularMarketPrice":160.37,"regularMarketDayHigh":160.87,"regularMarketDayRange":"160.29
        - 160.87","regularMarketDayLow":160.29,"regularMarketVolume":22534,"regularMarketPreviousClose":160.45,"regularMarketOpen":159.38,"fiftyTwoWeekRange":"160.29
        - 160.87","fiftyTwoWeekLow":160.29,"fiftyTwoWeekHigh":160.87,"symbol":"HGLG11","priceEarnings":null,"earningsPerShare":null,"logourl":"https://s3-symbol-logo.tradingview.com/fii--big.svg"}],"requestedAt":"2024-07-08T16:02:19.076Z","took":"0ms"}'
  recorded_at: Mon, 08 Jul 2024 16:02:19 GMT
recorded_with: VCR 6.2.0
