---
http_interactions:
- request:
    method: get
    uri: https://brapi.dev/api/quote/INVALID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BR_API_SECRET_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      cdn-cache-control:
      - s-maxage=900, stale-while-revalidate
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"79zxhq7fzn4c"'
      x-matched-path:
      - "/api/quote/[slugs]"
      x-vercel-cache:
      - BYPASS
      x-vercel-id:
      - gru1::iad1::fxbkf-1720454543189-83fb283caaab
    body:
      encoding: UTF-8
      string: '{"results":[{"priceEarnings":null,"earningsPerShare":null,"logourl":"https://brapi.dev/favicon.svg"}],"requestedAt":"2024-07-08T16:02:23.416Z","took":"0ms"}'
  recorded_at: Mon, 08 Jul 2024 16:02:23 GMT
recorded_with: VCR 6.2.0
