---
http_interactions:
- request:
    method: get
    uri: https://brapi.dev/api/quote/PETR4,INVALID,BBAS3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BR_API_SECRET_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      cdn-cache-control:
      - s-maxage=900, stale-while-revalidate
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"iozrh91i1w15c"
      x-matched-path:
      - "/api/quote/[slugs]"
      x-vercel-cache:
      - BYPASS
      x-vercel-id:
      - gru1::iad1::g2x9n-1718841391770-e03f0655b1d4
    body:
      encoding: UTF-8
      string: '{"results":[{"currency":"BRL","shortName":"PETROBRAS   PN  EDJ N2","longName":"Petróleo
        Brasileiro S.A. - Petrobras","regularMarketChange":0.03,"regularMarketChangePercent":0.084,"regularMarketTime":"2024-06-19T20:08:10.000Z","regularMarketPrice":35.93,"regularMarketDayHigh":36.12,"regularMarketDayRange":"35.57
        - 36.12","regularMarketDayLow":35.57,"regularMarketVolume":20678300,"regularMarketPreviousClose":35.9,"regularMarketOpen":35.96,"fiftyTwoWeekRange":"35.57
        - 36.12","fiftyTwoWeekLow":35.57,"fiftyTwoWeekHigh":36.12,"symbol":"PETR4","priceEarnings":4.238177807660096,"earningsPerShare":8.4776858,"logourl":"https://s3-symbol-logo.tradingview.com/brasileiro-petrobras--big.svg"},{"priceEarnings":null,"earningsPerShare":null,"logourl":"https://brapi.dev/favicon.svg"},{"currency":"BRL","shortName":"BRASIL      ON  EDJ
        NM","longName":"Banco do Brasil S.A.","regularMarketChange":0.19,"regularMarketChangePercent":0.729,"regularMarketTime":"2024-06-19T20:07:52.000Z","regularMarketPrice":26.27,"regularMarketDayHigh":26.34,"regularMarketDayRange":"26.03
        - 26.34","regularMarketDayLow":26.03,"regularMarketVolume":12063600,"regularMarketPreviousClose":26.08,"regularMarketOpen":26.55,"fiftyTwoWeekRange":"26.03
        - 26.34","fiftyTwoWeekLow":26.03,"fiftyTwoWeekHigh":26.34,"symbol":"BBAS3","priceEarnings":4.754320875938829,"earningsPerShare":4.0604768,"logourl":"https://s3-symbol-logo.tradingview.com/banco-do-brasil--big.svg"}],"requestedAt":"2024-06-19T23:56:32.003Z","took":"0ms"}'
  recorded_at: Wed, 19 Jun 2024 23:56:32 GMT
recorded_with: VCR 6.2.0
