---
http_interactions:
- request:
    method: get
    uri: https://brapi.dev/api/quote/PETR4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BR_API_SECRET_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      cdn-cache-control:
      - s-maxage=900, stale-while-revalidate
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7ofc2o5p1cjk"'
      x-matched-path:
      - "/api/quote/[slugs]"
      x-vercel-cache:
      - BYPASS
      x-vercel-id:
      - gru1::iad1::w5v7p-1719789024315-5bf144971edc
    body:
      encoding: UTF-8
      string: '{"results":[{"currency":"BRL","shortName":"PETROBRAS   PN      N2","longName":"Petróleo
        Brasileiro S.A. - Petrobras","regularMarketChange":0.34,"regularMarketChangePercent":0.902,"regularMarketTime":"2024-06-28T20:07:37.000Z","regularMarketPrice":38.05,"regularMarketDayHigh":0,"regularMarketDayRange":"0
        - 0","regularMarketDayLow":0,"regularMarketVolume":0,"regularMarketPreviousClose":37.71,"regularMarketOpen":36.91,"fiftyTwoWeekRange":"0
        - 0","fiftyTwoWeekLow":0,"fiftyTwoWeekHigh":0,"symbol":"PETR4","priceEarnings":4.48824551470328,"earningsPerShare":8.4776858,"logourl":"https://s3-symbol-logo.tradingview.com/brasileiro-petrobras--big.svg"}],"requestedAt":"2024-06-30T23:10:24.633Z","took":"0ms"}'
  recorded_at: Sun, 30 Jun 2024 23:10:24 GMT
- request:
    method: get
    uri: https://api.hgbrasil.com/finance/stock_price?key=<HG_BRASIL_SECRET_KEY>&symbol=PETR4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"99c759b2cf25863e199719b032989ecd"
    body:
      encoding: UTF-8
      string: '{"by":"symbol","valid_key":true,"results":{"PETR4":{"kind":"stock","symbol":"PETR4","name":"Petrobras","company_name":"Petroleo
        Brasileiro S.A. Petrobras","document":"33.000.167/0001-01","description":"Pesquisa.
        Lavra. Refinação. Processamento. Comércio E Transporte de Petróleo. de Seus
        Derivados. de Gás Natural E de Outros Hidrocarbonetos Fluidos. Além Das Atividades
        Vinculadas à Energia.","website":"http://www.petrobras.com.br/","sector":"Petróleo.
        Gás e Biocombustíveis / Petróleo. Gás e Biocombustíveis / Exploração. Refino
        e Distribuição","financials":{"quota_count":5602042788,"dividends":{"yield_12m":3.422,"yield_12m_sum":1.302}},"region":"Brazil/Sao
        Paulo","currency":"BRL","market_time":{"open":"10:00","close":"17:30","timezone":-3},"logo":{"small":"https://assets.hgbrasil.com/finance/companies/small/petrobras.png","big":"https://assets.hgbrasil.com/finance/companies/big/petrobras.png"},"market_cap":509601.0,"price":38.05,"change_percent":0.9,"change_price":0.34,"updated_at":"2024-06-29
        20:46:00"}},"execution_time":0.0,"from_cache":true}'
  recorded_at: Sun, 30 Jun 2024 23:10:25 GMT
recorded_with: VCR 6.2.0
