---
http_interactions:
- request:
    method: get
    uri: https://brapi.dev/api/quote/NOT_FOUND
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BR_API_SECRET_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      cdn-cache-control:
      - s-maxage=900, stale-while-revalidate
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"y53vn0tdfh1n"'
      x-matched-path:
      - "/api/quote/[slugs]"
      x-vercel-cache:
      - BYPASS
      x-vercel-id:
      - gru1::iad1::zjfnb-1719789025378-8bb571afb776
    body:
      encoding: UTF-8
      string: '{"error":true,"message":"Não encontramos a ação NOT_FOUND"}'
  recorded_at: Sun, 30 Jun 2024 23:10:25 GMT
- request:
    method: get
    uri: https://api.hgbrasil.com/finance/stock_price?key=<HG_BRASIL_SECRET_KEY>&symbol=NOT_FOUND
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fcb0b04140f427fa776c60bc01923454"
    body:
      encoding: UTF-8
      string: '{"by":"symbol","valid_key":true,"results":{"NOT_FOUND":{"error":true,"message":"Error
        to get Stock for #NOT_FOUND: Erro 852 - Símbolo não encontrado, por favor
        entre em contato conosco em console.hgbrasil.com."}},"execution_time":0.0,"from_cache":true}'
  recorded_at: Sun, 30 Jun 2024 23:10:26 GMT
recorded_with: VCR 6.2.0
