---
http_interactions:
- request:
    method: get
    uri: https://api.hgbrasil.com/finance/stock_price?key=<HG_BRASIL_SECRET_KEY>&symbol=NOT_FOUND
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f0320a80189d8e76dcab196a3e22e8a1"
    body:
      encoding: UTF-8
      string: '{"by":"symbol","valid_key":true,"results":{"NOT_FOUND":{"error":true,"message":"Error
        to get Stock for #NOT_FOUND: Erro 852 - Símbolo não encontrado, por favor
        entre em contato conosco em console.hgbrasil.com."}},"execution_time":0.01,"from_cache":true}'
  recorded_at: Mon, 29 Apr 2024 01:18:23 GMT
recorded_with: VCR 6.2.0
