---
http_interactions:
- request:
    method: get
    uri: https://api.hgbrasil.com/finance/stock_price?key=<HG_BRASIL_SECRET_KEY>&symbol=EMBR3%2CHGLG11%2CITSA4%2CPETR4%2CVALE3%2CB3SA3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f3c8add636eea8e5adeb4ddc1c982bac"
    body:
      encoding: UTF-8
      string: '{"by":"symbol","valid_key":true,"results":{"error":true,"message":"Máximo
        de 5 símbolos por requisição."},"execution_time":0.0,"from_cache":true}'
  recorded_at: Mon, 29 Apr 2024 01:18:20 GMT
recorded_with: VCR 6.2.0
