---
http_interactions:
- request:
    method: get
    uri: https://api.hgbrasil.com/finance/stock_price?key=<HG_BRASIL_SECRET_KEY>&symbol=FELIPE%2CHGLG11%2CINVALID%2CPETR4%2CVALE3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a439891612e16d7aaa82f407c24f76f"
    body:
      encoding: UTF-8
      string: '{"by":"symbol","valid_key":true,"results":{"FELIPE":{"error":true,"message":"Error
        to get Stock for #FELIPE: Erro 852 - Símbolo não encontrado, por favor entre
        em contato conosco em console.hgbrasil.com."},"HGLG11":{"kind":"fii","symbol":"HGLG11","name":"FII
        CSHG Log","company_name":"CSHG Logstica Fundo Investimento Imobiliario FII","document":"11.728.688/0001-47","description":"Financeiro
        e Outros/Fundos/Fundos Imobiliários","website":"https://www.cshg.com.br/","sector":"Imóveis
        Industriais e Logísticos","financials":{"equity":5324765364,"quota_count":33787575,"equity_per_share":157.595,"price_to_book_ratio":1.042,"dividends":{"yield_12m":8.282,"yield_12m_sum":13.6}},"region":"Brazil/Sao
        Paulo","currency":"BRL","market_time":{"open":"10:00","close":"17:30","timezone":-3},"logo":null,"market_cap":5548.26,"price":164.21,"change_percent":-0.15,"change_price":-0.25,"updated_at":"2024-04-28
        20:46:00"},"INVALID":{"error":true,"message":"Error to get Stock for #INVALID:
        Erro 852 - Símbolo não encontrado, por favor entre em contato conosco em console.hgbrasil.com."},"PETR4":{"kind":"stock","symbol":"PETR4","name":"Petrobras","company_name":"Petroleo
        Brasileiro S.A. Petrobras","document":"33.000.167/0001-01","description":"Pesquisa.
        Lavra. Refinação. Processamento. Comércio E Transporte de Petróleo. de Seus
        Derivados. de Gás Natural E de Outros Hidrocarbonetos Fluidos. Além Das Atividades
        Vinculadas à Energia.","website":"http://www.petrobras.com.br/","sector":"Petróleo.
        Gás e Biocombustíveis / Petróleo. Gás e Biocombustíveis / Exploração. Refino
        e Distribuição","financials":{"quota_count":0,"dividends":{"yield_12m":null,"yield_12m_sum":null}},"region":"Brazil/Sao
        Paulo","currency":"BRL","market_time":{"open":"10:00","close":"17:30","timezone":-3},"logo":{"small":"https://assets.hgbrasil.com/finance/companies/small/petrobras.png","big":"https://assets.hgbrasil.com/finance/companies/big/petrobras.png"},"market_cap":556555.0,"price":41.41,"change_percent":2.19,"change_price":0.89,"updated_at":"2024-04-28
        20:45:59"},"VALE3":{"kind":"stock","symbol":"VALE3","name":"Vale","company_name":"Vale
        S.A.","document":"33.592.510/0001-54","description":"Mineração","website":"http://www.vale.com/","sector":"Materiais
        Básicos / Mineração / Minerais Metálicos","financials":{"quota_count":0,"dividends":{"yield_12m":null,"yield_12m_sum":null}},"region":"Brazil/Sao
        Paulo","currency":"BRL","market_time":{"open":"10:00","close":"17:30","timezone":-3},"logo":{"small":"https://assets.hgbrasil.com/finance/companies/small/vale.png","big":"https://assets.hgbrasil.com/finance/companies/big/vale.png"},"market_cap":285580.0,"price":62.74,"change_percent":0.84,"change_price":0.52,"updated_at":"2024-04-28
        20:45:59"}},"execution_time":0.01,"from_cache":true}'
  recorded_at: Mon, 29 Apr 2024 01:18:20 GMT
recorded_with: VCR 6.2.0
