---
http_interactions:
- request:
    method: get
    uri: https://api.hgbrasil.com/finance/stock_price?key=282f20db&symbol=EMBR3%2CHGLG11%2CITSA4%2CPETR4%2CVALE3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"66a88198e31a972c14df7a7d34939c06"
    body:
      encoding: UTF-8
      string: '{"by":"symbol","valid_key":true,"results":{"EMBR3":{"kind":"stock","symbol":"EMBR3","name":"Embraer","company_name":"Embraer
        S.A.","document":"07.689.002/0001-89","description":"Projeto. Desenvolvimento.
        Fabricação. Comercialização de Aeronaves E Sistemas E Fornecimento de Suporte
        E Serviços de Pós-venda.","website":"http://www.embraer.com.br/","sector":"Bens
        Industriais / Material de Transporte / Material Aeronáutico e de Defesa","financials":{"quota_count":740465044,"dividends":{"yield_12m":0.0,"yield_12m_sum":0.0}},"region":"Brazil/Sao
        Paulo","currency":"BRL","market_time":{"open":"10:00","close":"17:30","timezone":-3},"logo":{"small":"https://assets.hgbrasil.com/finance/companies/small/embraer.png","big":"https://assets.hgbrasil.com/finance/companies/big/embraer.png"},"market_cap":22814.4,"price":31.31,"change_percent":0.77,"change_price":0.24,"updated_at":"2024-04-24
        20:46:15"},"HGLG11":{"kind":"fii","symbol":"HGLG11","name":"FII CSHG Log","company_name":"CSHG
        Logstica Fundo Investimento Imobiliario FII","document":"11.728.688/0001-47","description":"Financeiro
        e Outros/Fundos/Fundos Imobiliários","website":"https://www.cshg.com.br/","sector":"Imóveis
        Industriais e Logísticos","financials":{"equity":5324765364,"quota_count":33787575,"equity_per_share":157.595,"price_to_book_ratio":1.036,"dividends":{"yield_12m":8.327,"yield_12m_sum":13.6}},"region":"Brazil/Sao
        Paulo","currency":"BRL","market_time":{"open":"10:00","close":"17:30","timezone":-3},"logo":null,"market_cap":5518.52,"price":163.33,"change_percent":-0.32,"change_price":-0.52,"updated_at":"2024-04-24
        20:46:16"},"ITSA4":{"kind":"stock","symbol":"ITSA4","name":"Itaúsa","company_name":"ItauSA
        S.A.","document":"61.532.644/0001-15","description":"Gestão de Participações
        Societárias (holding)","website":"http://www.itausa.com.br/","sector":"Financeiro
        / Intermediários Financeiros / Bancos","financials":{"quota_count":0,"dividends":{"yield_12m":null,"yield_12m_sum":null}},"region":"Brazil/Sao
        Paulo","currency":"BRL","market_time":{"open":"10:00","close":"17:30","timezone":-3},"logo":{"small":"https://assets.hgbrasil.com/finance/companies/small/itausa.png","big":"https://assets.hgbrasil.com/finance/companies/big/itausa.png"},"market_cap":98107.3,"price":9.57,"change_percent":-0.21,"change_price":-0.02,"updated_at":"2024-04-24
        20:46:15"},"PETR4":{"kind":"stock","symbol":"PETR4","name":"Petrobras","company_name":"Petroleo
        Brasileiro S.A. Petrobras","document":"33.000.167/0001-01","description":"Pesquisa.
        Lavra. Refinação. Processamento. Comércio E Transporte de Petróleo. de Seus
        Derivados. de Gás Natural E de Outros Hidrocarbonetos Fluidos. Além Das Atividades
        Vinculadas à Energia.","website":"http://www.petrobras.com.br/","sector":"Petróleo.
        Gás e Biocombustíveis / Petróleo. Gás e Biocombustíveis / Exploração. Refino
        e Distribuição","financials":{"quota_count":0,"dividends":{"yield_12m":null,"yield_12m_sum":null}},"region":"Brazil/Sao
        Paulo","currency":"BRL","market_time":{"open":"10:00","close":"17:30","timezone":-3},"logo":{"small":"https://assets.hgbrasil.com/finance/companies/small/petrobras.png","big":"https://assets.hgbrasil.com/finance/companies/big/petrobras.png"},"market_cap":548444.0,"price":41.23,"change_percent":-0.46,"change_price":-0.19,"updated_at":"2024-04-24
        20:46:15"},"VALE3":{"kind":"stock","symbol":"VALE3","name":"Vale","company_name":"Vale
        S.A.","document":"33.592.510/0001-54","description":"Mineração","website":"http://www.vale.com/","sector":"Materiais
        Básicos / Mineração / Minerais Metálicos","financials":{"quota_count":0,"dividends":{"yield_12m":null,"yield_12m_sum":null}},"region":"Brazil/Sao
        Paulo","currency":"BRL","market_time":{"open":"10:00","close":"17:30","timezone":-3},"logo":{"small":"https://assets.hgbrasil.com/finance/companies/small/vale.png","big":"https://assets.hgbrasil.com/finance/companies/big/vale.png"},"market_cap":286155.0,"price":63.56,"change_percent":1.24,"change_price":0.78,"updated_at":"2024-04-24
        20:46:15"}},"execution_time":0.02,"from_cache":false}'
  recorded_at: Thu, 25 Apr 2024 02:35:42 GMT
recorded_with: VCR 6.2.0
