---
http_interactions:
- request:
    method: get
    uri: https://brapi.dev/api/v2/currency?currency=USD-BRL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BR_API_SECRET_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"qozkp7niln84"'
      x-matched-path:
      - "/api/v2/currency"
      x-vercel-cache:
      - BYPASS
      x-vercel-id:
      - gru1::iad1::njm47-1719870025353-2a97bbc884d7
    body:
      encoding: UTF-8
      string: '{"currency":[{"fromCurrency":"USD","toCurrency":"BRL","name":"Dólar
        Americano/Real Brasileiro","high":"5.6628","low":"5.6563","bidVariation":"-0.0038","percentageChange":"-0.07","bidPrice":"5.6563","askPrice":"5.6568","updatedAtTimestamp":"1719867990","updatedAtDate":"2024-07-01
        18:06:30"}]}'
  recorded_at: Mon, 01 Jul 2024 21:40:25 GMT
recorded_with: VCR 6.2.0
