---
http_interactions:
- request:
    method: get
    uri: https://api.hgbrasil.com/finance/stock_price?key=282f20db&symbol=BOVA11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"19de66db52e805ebc9a699b576de1e9c"
    body:
      encoding: UTF-8
      string: '{"by":"symbol","valid_key":true,"results":{"BOVA11":{"kind":"stock","symbol":"BOVA11","name":"iShares
        Ibovespa Fundo de Índice ETF","company_name":null,"document":null,"description":null,"website":null,"sector":null,"financials":{"quota_count":0,"dividends":{"yield_12m":null,"yield_12m_sum":null}},"region":"Brazil/Sao
        Paolo","currency":"BRL","market_time":{"open":"10:00","close":"17:30","timezone":-3},"market_cap":0.0,"price":121.52,"change_percent":0.86,"change_price":1.04,"updated_at":"2024-04-19
        17:12:01"}},"execution_time":0.0,"from_cache":false}'
  recorded_at: Sat, 20 Apr 2024 21:07:09 GMT
recorded_with: VCR 6.2.0
