---
http_interactions:
- request:
    method: get
    uri: https://api.hgbrasil.com/finance/stock_price?key=<HG_BRASIL_SECRET_KEY>&symbol=HGLG11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"dc6f4e4f2d79bd7b33821bde3e6592ff"
    body:
      encoding: UTF-8
      string: '{"by":"symbol","valid_key":true,"results":{"HGLG11":{"kind":"fii","symbol":"HGLG11","name":"FII
        CSHG Log","company_name":"CSHG Logstica Fundo Investimento Imobiliario FII","document":"11.728.688/0001-47","description":"Financeiro
        e Outros/Fundos/Fundos Imobiliários","website":"https://www.cshg.com.br/","sector":"Imóveis
        Industriais e Logísticos","financials":{"equity":5324765364,"quota_count":33787575,"equity_per_share":157.595,"price_to_book_ratio":1.048,"dividends":{"yield_12m":8.232,"yield_12m_sum":13.6}},"region":"Brazil/Sao
        Paulo","currency":"BRL","market_time":{"open":"10:00","close":"17:30","timezone":-3},"logo":null,"market_cap":5599.61,"price":165.73,"change_percent":-0.07,"change_price":-0.12,"updated_at":"2024-05-08
        17:07:49"}},"execution_time":0.01,"from_cache":false}'
  recorded_at: Wed, 08 May 2024 22:21:17 GMT
recorded_with: VCR 6.2.0
