---
http_interactions:
- request:
    method: get
    uri: https://api.hgbrasil.com/finance/stock_price?key=<HG_BRASIL_SECRET_KEY>&symbol=BOVA11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"acbe9237a0df2be37c662498aad20898"
    body:
      encoding: UTF-8
      string: '{"by":"symbol","valid_key":true,"results":{"BOVA11":{"kind":"stock","symbol":"BOVA11","name":"iShares
        Ibovespa Fundo de Índice ETF","company_name":null,"document":null,"description":null,"website":null,"sector":null,"financials":{"quota_count":0,"dividends":{"yield_12m":null,"yield_12m_sum":null}},"region":"Brazil/Sao
        Paolo","currency":"BRL","market_time":{"open":"10:00","close":"17:30","timezone":-3},"market_cap":0.0,"price":122.83,"change_percent":1.59,"change_price":1.92,"updated_at":"2024-04-28
        20:46:00"}},"execution_time":0.0,"from_cache":true}'
  recorded_at: Mon, 29 Apr 2024 01:18:24 GMT
recorded_with: VCR 6.2.0
