---
http_interactions:
- request:
    method: get
    uri: https://api.hgbrasil.com/finance/stock_price?key=282f20db&symbol=HGLG11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"16e0949e96e8ce234dbf63baed6e1625"
    body:
      encoding: UTF-8
      string: '{"by":"symbol","valid_key":true,"results":{"HGLG11":{"kind":"fii","symbol":"HGLG11","name":"FII
        CSHG Log","company_name":"CSHG Logstica Fundo Investimento Imobiliario FII","document":"11.728.688/0001-47","description":"Financeiro
        e Outros/Fundos/Fundos Imobiliários","website":"https://www.cshg.com.br/","sector":"Imóveis
        Industriais e Logísticos","financials":{"equity":5324765364,"quota_count":33787575,"equity_per_share":157.595,"price_to_book_ratio":1.039,"dividends":{"yield_12m":8.308,"yield_12m_sum":13.6}},"region":"Brazil/Sao
        Paulo","currency":"BRL","market_time":{"open":"10:00","close":"17:30","timezone":-3},"logo":null,"market_cap":5531.03,"price":163.7,"change_percent":-0.44,"change_price":-0.72,"updated_at":"2024-04-19
        17:07:46"}},"execution_time":0.01,"from_cache":false}'
  recorded_at: Sat, 20 Apr 2024 21:21:46 GMT
recorded_with: VCR 6.2.0
