---
http_interactions:
- request:
    method: get
    uri: https://brapi.dev/api/v2/currency?currency=USD-BRL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BR_API_SECRET_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"vzyfdwewir82"'
      x-matched-path:
      - "/api/v2/currency"
      x-vercel-cache:
      - BYPASS
      x-vercel-id:
      - gru1::iad1::8wzth-1720176734800-19b42e795f73
    body:
      encoding: UTF-8
      string: '{"currency":[{"fromCurrency":"USD","toCurrency":"BRL","name":"Dólar
        Americano/Real Brasileiro","high":"5.4895","low":"5.4895","bidVariation":"0.0008","percentageChange":"0.01","bidPrice":"5.4887","askPrice":"5.4903","updatedAtTimestamp":"1720126799","updatedAtDate":"2024-07-04
        17:59:59"}]}'
  recorded_at: Fri, 05 Jul 2024 10:52:15 GMT
recorded_with: VCR 6.2.0
