---
http_interactions:
- request:
    method: get
    uri: https://api.hgbrasil.com/finance/quotations?key=<HG_BRASIL_SECRET_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"23cf685b2c8a2fa28e1d8ebac84084c4"
    body:
      encoding: UTF-8
      string: '{"by":"default","valid_key":true,"results":{"currencies":{"source":"BRL","USD":{"name":"Dollar","buy":5.0889,"sell":5.0889,"variation":0.266},"EUR":{"name":"Euro","buy":5.4704,"sell":5.4703,"variation":0.212},"GBP":{"name":"Pound
        Sterling","buy":6.3599,"sell":null,"variation":0.163},"ARS":{"name":"Argentine
        Peso","buy":0.0058,"sell":null,"variation":-0.514},"CAD":{"name":"Canadian
        Dollar","buy":3.7078,"sell":null,"variation":0.292},"AUD":{"name":"Australian
        Dollar","buy":3.3484,"sell":null,"variation":0.001},"JPY":{"name":"Japanese
        Yen","buy":0.0327,"sell":null,"variation":-0.252},"CNY":{"name":"Renminbi","buy":0.7044,"sell":null,"variation":-1.431},"BTC":{"name":"Bitcoin","buy":329770.184,"sell":329770.184,"variation":-3.15}},"stocks":{"IBOVESPA":{"name":"BM\u0026F
        BOVESPA","location":"Sao Paulo, Brazil","points":129480.89,"variation":0.21},"IFIX":{"name":"Índice
        de Fundos de Investimentos Imobiliários B3","location":"Sao Paulo, Brazil","points":3398.1,"variation":0.11},"NASDAQ":{"name":"NASDAQ
        Stock Market","location":"New York City, United States","points":16302.76,"variation":-0.18},"DOWJONES":{"name":"Dow
        Jones Industrial Average","location":"New York City, United States","points":39056.39,"variation":0.44},"CAC":{"name":"CAC
        40","location":"Paris, French","points":8131.41,"variation":0.69},"NIKKEI":{"name":"Nikkei
        225","location":"Tokyo, Japan","points":38202.37,"variation":-1.63}},"available_sources":["BRL"],"bitcoin":{"blockchain_info":{"name":"Blockchain.info","format":["USD","en_US"],"last":61133.83,"buy":61133.83,"sell":61133.83,"variation":-3.15},"coinbase":{"name":"Coinbase","format":["USD","en_US"],"last":61234.125,"variation":-2.989},"bitstamp":{"name":"BitStamp","format":["USD","en_US"],"last":61228.0,"buy":61241.0,"sell":61238.0,"variation":-3.016},"foxbit":{"name":"FoxBit","format":["BRL","pt_BR"],"last":313767.0106,"variation":-2.638},"mercadobitcoin":{"name":"Mercado
        Bitcoin","format":["BRL","pt_BR"],"last":314215.27,"buy":314000.0,"sell":314215.27,"variation":-2.563}}},"execution_time":0.0,"from_cache":true}'
  recorded_at: Wed, 08 May 2024 22:21:31 GMT
recorded_with: VCR 6.2.0
