---
http_interactions:
- request:
    method: get
    uri: https://api.hgbrasil.com/finance/quotations?key=<HG_BRASIL_SECRET_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"da9b9bbbfb7d13dc9f18a3a65622cd3e"
    body:
      encoding: UTF-8
      string: '{"by":"default","valid_key":true,"results":{"currencies":{"source":"BRL","USD":{"name":"Dollar","buy":5.1163,"sell":5.1163,"variation":0.0},"EUR":{"name":"Euro","buy":5.4747,"sell":5.4758,"variation":-0.009},"GBP":{"name":"Pound
        Sterling","buy":6.3892,"sell":null,"variation":0.001},"ARS":{"name":"Argentine
        Peso","buy":0.0058,"sell":null,"variation":-0.997},"CAD":{"name":"Canadian
        Dollar","buy":3.7396,"sell":null,"variation":-0.001},"AUD":{"name":"Australian
        Dollar","buy":3.343,"sell":null,"variation":0.015},"JPY":{"name":"Japanese
        Yen","buy":0.0323,"sell":null,"variation":0.034},"CNY":{"name":"Renminbi","buy":0.7209,"sell":null,"variation":2.089},"BTC":{"name":"Bitcoin","buy":342643.897,"sell":342643.897,"variation":-1.048}},"stocks":{"IBOVESPA":{"name":"BM\u0026F
        BOVESPA","location":"Sao Paulo, Brazil","points":126526.27,"variation":1.51},"IFIX":{"name":"Índice
        de Fundos de Investimentos Imobiliários B3","location":"Sao Paulo, Brazil","points":3366.74,"variation":0.17},"NASDAQ":{"name":"NASDAQ
        Stock Market","location":"New York City, United States","points":15927.9,"variation":2.03},"DOWJONES":{"name":"Dow
        Jones Industrial Average","location":"New York City, United States","points":38239.66,"variation":0.4},"CAC":{"name":"CAC
        40","location":"Paris, French","points":8088.24,"variation":0.89},"NIKKEI":{"name":"Nikkei
        225","location":"Tokyo, Japan","points":37934.76,"variation":0.81}},"available_sources":["BRL"],"bitcoin":{"blockchain_info":{"name":"Blockchain.info","format":["USD","en_US"],"last":63139.73,"buy":63139.73,"sell":63139.73,"variation":-1.111},"coinbase":{"name":"Coinbase","format":["USD","en_US"],"last":63149.83,"variation":-1.1},"bitstamp":{"name":"BitStamp","format":["USD","en_US"],"last":63152.0,"buy":63152.0,"sell":63146.0,"variation":-1.058},"foxbit":{"name":"FoxBit","format":["BRL","pt_BR"],"last":326041.8343,"variation":-0.682},"mercadobitcoin":{"name":"Mercado
        Bitcoin","format":["BRL","pt_BR"],"last":325625.00004999,"buy":325625.00004999,"sell":326160.84981234,"variation":-1.06}}},"execution_time":0.0,"from_cache":true}'
  recorded_at: Mon, 29 Apr 2024 01:18:24 GMT
recorded_with: VCR 6.2.0
